.filter-form {
  gap: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 5px;
  z-index: 100;
  height: fit-content;
  background: var(--main-blue-light);
  border: 1px solid var(--main-purple);

  &__show {
    display: none;
  }

  @media (max-width: 600px) {
    &__show {
      display: flex;
      width: fit-content;
      margin: 0;
      margin-top: 0 !important;
    }

    & {
      position: absolute;
      left: -100%;
    }
  }

  &--active {
    left: 0;
  }
}

.filter-form__btn-wrapper {
  display: flex;
  padding-bottom: 10px;
  gap: 10px;

  .btn_copy:active {
    background-color: green;
  }

  .btn {
    width: 100%;
  }


}